import { Event } from '../../interfaces/event';
import { Events } from 'discord.js';
import { Client } from '../../interfaces/Client';

export const event: Event = {
    name: Events.ClientReady,
    once: true,
    execute(c: Client) {
        console.log(`The bot is logged in!`);
    }
};
